@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #5b2a5f;
    --color-secundario:#EEEEEE;
    --color-terciario:#134B70;

    --fuente-primaria: "Inter", sans-serif;
    --fuente-secundaria: ;
}


*{
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--color-primario);
}

.ingresar{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-primaria);
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    background-color: var(--color-terciario);
}

.ingresar::placeholder{
    color: var(--color-secundario);
}

.ingresar:focus, .ingresar:active{
    border: none;
    outline: none;
}

.descripcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.descripcion p{
    font-family: var(--fuente-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--color-secundario);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 85%;
}

.bnt-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-terciario);
    border-radius: 24px;
    font-family: var(--fuente-primaria);
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: var(--color-secundario);
}

.bnt-desencriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: gainsboro;
    border-radius: 24px;
    font-family: var(--fuente-primaria);
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: black;
}

.bnt-desencriptar:hover,
.bnt-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.mensaje{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: wheat;
    box-shadow: 0px 24 px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje_box{    
    background: var(--color-terciario);
    background-image: url(/assets/encriptar.jpg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color:var(--color-secundario);
    margin-left: 0%;
    margin-top: 0px;
    padding-left: 20px;
}

.bnt-copiar{
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 30%;
    top: 90%;
}

.bnt-copiar1{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 55%;
    background-color: var(--color-terciario);
    border-radius: 24px;
    font-family: var(--fuente-primaria);
    font-size: 1.2rem;
    line-height: 19px;
    text-align: center;
    color: var(--color-secundario);   
}

.mensaje_encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje_encriptado h2{
    width: 60%;
    font-family: var(--fuente-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: black    ;
}

.mensaje_encriptado p{
    width: 80%;
    font-family: var(--fuente-primaria);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: black;
}

.mensaje img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

@media (max-width: 57.7em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .escribir{
        width: 100%;
    }
    .ingresar{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .descripcion{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .descripcion p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .bnt-encriptar, .bnt-desencriptar, .bnt-copiar1{
        width: 48%;
        border-radius: 16px;
    }
    .bnt-encriptar:hover, .bnt-desencriptar:hover{
        width: 47.5%;
    }
    .mensaje{
        width: 80%;
        height: 15%;
        left: 15%;
        top: 80%;
    }
    .mensaje_encriptado{
        width: 100%;
        top: 5%;
    }
    .mensaje img{
        display: none;
        visibility: hidden;
    }
}